<html>
	<head>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript" src="underscore.js"></script>
		<script type="text/javascript" src="physicsjs-full.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
	</head>
	<body>
        <style scoped>
            .top5 {
                margin-top: 5px;
            }
            .button-warning {
                background: rgb(223, 117, 20);
                color: white;
            }
			.Prize {
				padding: 5px;
				margin: 5px 0;
				border: 1px red dashed;
			}
			.Prize h4 {
				margin-top: 5px;
			}

			.Prize blockquote {
				margin-bottom: 5px;
			}
			.close {
				color: red;
				padding: 0 5px;
				cursor: pointer;
			}
        </style>
		<div class="pure-g" id="view">
		</div>
		<script type="text/template" id="participantInfoInputTemplate">
			<form class="pure-form participant-info">
				<fieldset>
					<input type="text" name="nickname" class="nickname" placeholder="Ник на твиче">
        			<input type="text" name="bet" placeholder="Билетов" value="1" class="top5">
					<span class="close">&#10006;</span>
				</fieldset>
			</form>
		</script>

		<script type="text/template" id="enterParticipantsInfoInputTemplate">
			<div class="pure-u-1-3"></div>
		    <div class="pure-u-1-3">
		    	<h3>Введи имена участников и ставки</h3>
				<a class="pure-button pure-button-primary" style="background-color: #ec971f;" id="loadAllFromTwitch">Подгрузить всех зрителей с твича</a>
				<a class="pure-button pure-button-primary" style="background-color: #c9302c;" id="removeUntil">Выбрать счастливчиков</a>
		    	<div id="participants"></div>
		    	<a class="pure-button pure-button-primary" style="background-color: #5cb85c; margin-bottom: 100px;" id="addParticipant">Добавить ешё одного</a>
		    </div>
		    <div class="pure-u-1-3">
		    	<h1></h1>
		    	<a class="pure-button pure-button-primary" id="calcBets">Выдать билеты</a>
		    </div>
		</script>

		<script type="text/template" id="showTicketsTemplate">
			<div class="pure-u-1-3"></div>
		    <div class="pure-u-1-3">
				<textarea style="width: 100%; height: 300px; margin: 20px 0; padding: 5px;"><% _.each(participants, function(participant){ %><%= participant.nickname %> -  <%= participant.bet * 500 %>
<% }) %></textarea>

		    	<h3>Билеты</h3>
		    	<div class="pure-g" id="tickets">
		    		<% _.each(tickets, function(ticket){ %>
	    			    <div class="pure-u-1-2"><p><%= ticket.who %></p></div>
						<div class="pure-u-1-2"><p>Билeт <b>№<%= ticket.number %></b></p></div>
	    			<% }) %>
		    	</div>

		    	<a id="startRaffle" class="pure-button pure-button-primary" style="background-color: #5cb85c; margin-bottom: 100px;">Назначить призы</a>
		    </div>
		    <div class="pure-u-1-3"></div>
		</script>

		<script type="text/template" id="showLottoMachineTemplate">
			<canvas id="viewport" width="1100" height="800"></canvas>
			<div  style="margin-left: 1200px">
				<div class="pure-u-1-1">
					<h1>Билет № <span id="ticketNumber" style="color: red;"></span></h1>
				</div>
				<br>
				<div class="pure-u-1-1">
					<h1>Ник <span id="ownerNick" style="color: dodgerblue;"></span></h1>
				</div>
				<div class="pure-u-1-1" id="log">

				</div>
			</div>
		</script>

		<script type="text/template" id="logResultRow">
			<div class="<% if (typeof(goal) !== "undefined") { %>Prize<% } %>">
			<h4><b><%= counter %></b> Билет №<span style="color: red"><%= " " + number + " "  %></span>Ник<span style="color: dodgerblue"><%= " " + who %></span></h4>
            <% if (typeof(goal) !== "undefined") { %>
                <blockquote>Приз!!!! <span><%= goal['goal-description'] %></span></blockquote>
            <% } %>
			</div>
		</script>

		<script type="text/template" id="setGoals">
			<div class="pure-u-1-3"></div>
			<div class="pure-u-1-3">
				<div class="pure-g">
					<div class="pure-u-1-4">
						<strong>№ билета</strong>
					</div>
					<div class="pure-u-3-4">
						<strong>Описание приза</strong>
					</div>
				</div>
				<div id="anchor"></div>
				<div class="pure-g">
					<button class="pure-button pure-button-primary" id="addGoalButton">Добавить ещё</button>
				</div>
                <div class="pure-g top5">
                    <button class="pure-button button-warning" id="confirm">Начать розыгрыш!</button>
                </div>
			</div>
			<div class="pure-u-1-3"></div>
		</script>

		<script type="text/template" id="goatFormTemplate">
			<div class="pure-g">
				<form class="pure-form participant-info" name="goal-form">
					<fieldset>
						<div class="pure-u-1-4">
							<input name="ticket-number" class="pure-u-20-24" type="number">
						</div>
						<div class="pure-u-3-4">
							<input name="goal-description" class="pure-u-23-24" type="text">
						</div>
					</fieldset>
				</form>
			</div>
		</script>

		<script type="text/javascript">
			function getFormData($form){
			    var unIndexed_array = $form.serializeArray();
			    var indexed_array = {};

			    $.map(unIndexed_array, function(n, i){
			        indexed_array[n['name']] = n['value'];
			    });

			    return indexed_array;
			}

			function shuffle(o){
				for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
				return o;
			}

			$(document).ready(function(){
				var app = {
					ticketPrice: 1,
					nextTicketNumber: 1,
					counter: 1,
                    goals: []
				};
				var setGoalsTemplate = _.template($("#setGoals").html());
				var goalFormTemplate = _.template($("#goatFormTemplate").html());
				var enterParticipantsInfoInputTemplate = _.template($("#enterParticipantsInfoInputTemplate").html());
				var showTicketsTemplate = _.template($("#showTicketsTemplate").html());
				var showLottoMachineTemplate = _.template($("#showLottoMachineTemplate").html());
				var participantInfoInputTemplate = _.template($("#participantInfoInputTemplate").html());
				var logResultRowTemplate = _.template($("#logResultRow").html());
				var view = $("#view");

				$(document).on('click', '.participant-info .close', function(){
					var self = $(this);
					if(confirm('Удалить этого участника?')) {
						self.parents('.participant-info').remove();
					}
				});

				showEnterParticipantsView();

                function getGoal(ballIndexNumber){
                    return _.find(app.goals, function(goal){
                        return goal['ticket-number'] == ballIndexNumber+'';
                    })
                }

				function calcBets(){
					app.participants = [];
					_.each($(".participant-info"), function(participantForm){
						var participant = getFormData($(participantForm));
						if (participant.nickname && participant.bet ){
							app.participants.push(participant); 	
						}
					});
					app.totalPool = 0;
					_.each(app.participants, function(participant){
						app.totalPool = app.totalPool + parseInt(participant.bet);
					});

					app.tickets = [];
					_.each(app.participants, function(participant){
						var ticketsCount = participant.bet / app.ticketPrice;
						for (var i = 0; i < ticketsCount; i++) {
							app.tickets.push({
								who: participant.nickname,
								number: app.nextTicketNumber
							});
							app.nextTicketNumber = app.nextTicketNumber + 1;
						}
					});
					showTicketsView();
				}

				var loadBlock = 0;
				function loadAllFromTwitch() {
					if(loadBlock == 0) {
						loadBlock = 1;
						$.ajax({
							url: "https://tmi.twitch.tv/group/user/hitmanrf/chatters",
							jsonp: "callback",
							dataType: "jsonp",
							success: function( response ) {
								loadBlock = 0;
								if(response && response.data && response.data.chatters) {
									var chatters = response.data.chatters;
									for(var i in chatters) {
										chatters[i].forEach(function(el){
											addViewer(el);
										});
									}
									clearEmptyParticipants();
								} else {
									alert('Загрузить не удалось');
								}
							}, error: function() {
								loadBlock = 0;
								alert('Загрузить не удалось');
							}
						});
					}
				}

				function clearEmptyParticipants() {
					$('input.nickname').each(function(){
						var self = $(this);
						if(self.val() != '') {
							return false;
						}
						self.parents('.participant-info').remove();
					});
				}

				function addViewer(nick) {
					var bots = ['hitmanrfbot', 'hitmanrf', 'hnlbot', 'mirrobot', 'nightbot', 'td_bot', 'streamchat_tmnt'];
					if(bots.indexOf(nick) !== -1) {
						return false;
					}

					var participants = $("#participants");

					var template = $(participantInfoInputTemplate());
					template.find('.nickname').val(nick);
					participants.append(template);
				}

				function removeUntil() {
					var howMany = parseInt(prompt('Сколько участников оставить? (введите число)'));
					if(howMany) {
						var participants =  $('#participants .participant-info');
						var index;
						while(participants.size() > howMany) {
							index = Math.round( (Math.random() * participants.size()) );
							participants.filter(':eq('+index+')').remove();
							participants =  $('#participants .participant-info');
						}
					} else {
						alert('Так сложно ввести число? Криворук =)');
					}
				}

				$("#removeUntil").on("click", function(e){
					removeUntil();
				});

				$("#loadAllFromTwitch").on("click", function(e){
					loadAllFromTwitch();
				});

				function showEnterParticipantsView(){
					view.empty();
					view.append(enterParticipantsInfoInputTemplate());
					var participants = $("#participants");
					participants.append(participantInfoInputTemplate());	
					$("#addParticipant").on("click", function(e){
						participants.append(participantInfoInputTemplate());
					});

					$("#calcBets").on("click", function(e){
						calcBets();
					});
				}

				function  showSetGoalsView(){
					view.empty();
					view.append(setGoalsTemplate());
                    $("#anchor").before(goalFormTemplate());

                    $("#addGoalButton").on("click", function(){
                        $("#anchor").before(goalFormTemplate());
                    });

                    $("#confirm").on("click", function(){
                        _.each($("form[name='goal-form']"), function(form){
                            app.goals.push(getFormData($(form)));
                        });
						showLottoMachineView(app);
                    });

				}

				function showTicketsView(){
					view.empty();
					view.append(showTicketsTemplate(app));
					$("#startRaffle").on("click", function(e){
						showSetGoalsView();
					})
				}

				function showLottoMachineView(app){
					view.empty();
					view.append(showLottoMachineTemplate());
					initializeLottery(app.tickets);
				}

				function initializeLottery(tikets){
					Physics(function (world) {
						var renderer = Physics.renderer('canvas', {
							el: 'viewport', // id of the canvas element
							width: 1100,
							height: 800,
							autoResize: false
						});
						var width = 1100;
						var height = 800;

						world.add(renderer);

						var t = 250;
						var w = 30;
						var k = 1 + Math.sqrt(2);
						var R = t * Math.sqrt(k/(k-1)) * 0.945;
						var barrelChildren = [];
						var borders = [];
						borders.push(Physics.body('rectangle', {
							treatment: 'static',
							x: 10,
							y: height/2,
							width: 20,
							height: height,
							styles: {
								fillStyle: 'hsla(232, 25%, 28%, 1)',
								lineWidth: 1,
								strokeStyle: 'hsla(232, 25%, 28%, 1)'
							}
						}));
						borders.push(Physics.body('rectangle', {
							treatment: 'static',
							x: width - 10,
							y: height/2,
							width: 20,
							height: height,
							styles: {
								fillStyle: 'hsla(232, 25%, 28%, 1)',
								lineWidth: 1,
								strokeStyle: 'hsla(232, 25%, 28%, 1)'
							}
						}));
						borders.push(Physics.body('rectangle', {
							treatment: 'static',
							x: width/2,
							y: 10,
							width: width,
							height: 20,
							styles: {
								fillStyle: 'hsla(232, 25%, 28%, 1)',
								lineWidth: 1,
								strokeStyle: 'hsla(232, 25%, 28%, 1)'
							}
						}));
						borders.push(Physics.body('rectangle', {
							treatment: 'static',
							x: width/2,
							y: height - 10,
							width: width,
							height: 20,
							styles: {
								fillStyle: 'hsla(232, 25%, 28%, 1)',
								lineWidth: 1,
								strokeStyle: 'hsla(232, 25%, 28%, 1)'
							}
						}));

						var destroyZone = Physics.body('rectangle', {
							treatment: 'static',
							x: 900,
							y: 600,
							width: 200,
							height: 100,
							label: 'zone',
							styles: {
								fillStyle: 'hsla(348, 100%, 53%, 1)',
								lineWidth: 1,
								strokeStyle: 'hsla(348, 100%, 53%, 1)'
							}
						});


						for (var i = 0; i < 8; i++) {
							var ang = (Math.PI / 4)*i;
							if (i % 2 == 0){
								var  ang2 = (Math.PI / 4)*(i+2);
							} else {
								var ang2 = (Math.PI / 4)*i;
							}
							barrelChildren.push(Physics.body('rectangle', {
								treatment: 'static',
								x: Math.sin(ang)*R,
								y: Math.cos(ang)*R,
								angle: ang2,
								width: w,
								restitution: 0.8,
								height: t + 16,
								mass: 100.2
							}));
						}

						barrelChildren.push(Physics.body('rectangle', {
							treatment: 'static',
							y: Math.cos(0)*R-90,
							angle: 0,
							width: w,
							restitution: 0.8,
							height: 180
						}));

						var barrel = Physics.body('compound', {
							x: (width-300)/2,
							y: height/2,
							restitution: 0.8,
							cof: 1,
							treatment: 'static',
							label: 'mover',
							styles: {
								fillStyle: 'hsla(232, 25%, 28%, 1)',
								lineWidth: 1,
								strokeStyle: 'hsla(232, 25%, 28%, 1)'
							},
							children: barrelChildren
						});
						var balls = [];
						tikets = shuffle(tikets);
						var ballsCount = tikets.length;
						var lines = Math.round(tikets.length / 10) + 1;
						var index = 0;
						while(lines--){
							for (var i = 0; i <= 10; i++){
								if (index < ballsCount){
									var color = Math.round(360*Math.random());
									var ball = Physics.body('circle', {
										x: 355,
										y: 340 + lines * 10,
										radius: 20,
										mass:  5 + (5 * Math.random()),
										restitution: 0.8,
										label: 'ball',
										treatment: 'dynamic',
										cof: 0,
										ticket: tikets[index].number,
										styles: {
											strokeStyle: 'hsla('+color+', 81%, 50%, 1)',
											fillStyle: 'hsla('+color+', 81%, 50%, 1)',
											lineWidth: 0
										}
									});
									balls.push(ball);
									index++;
								}
							}
						}

						var max_vel = 2;

						world.add(balls);
						world.add(destroyZone);
						world.add(Physics.behavior('constant-acceleration'));
						world.add(Physics.behavior('body-collision-detection'));
						world.add(Physics.behavior('body-impulse-response'));
						world.add(Physics.behavior('sweep-prune'));
						world.add(Physics.behavior('interactive', { el: renderer.container }).applyTo(balls));
						world.add(barrel);
						world.add(borders);

						var winQuery = Physics.query({ bodyA: { label: 'ball' }, bodyB: { label: 'zone' } });

						Physics.util.ticker.on(function( time, dt ){
							world.step( time );
						});
						Physics.util.ticker.start();
						world.on('step', function(){
							barrel.state.angular.pos += 0.02;

							for(var i in balls) {
								if(balls[i].state.vel.norm() > max_vel ) {
									balls[i].state.vel.mult(max_vel / balls[i].state.vel.norm());
								}

								if(balls[i].state.destroyed != true && balls[i].isGrabbed != true) {
									if(balls[i].state.pos.x > width || balls[i].state.pos.x < 0 || balls[i].state.pos.y > height || balls[i].state.pos.y < 0) {
										balls[i].state.pos.y = height/2;
										balls[i].state.pos.x = width/2;
										balls[i].state.vel.mult(0);
									}
								}
							}

							world.render();
						});
						world.on('collisions:detected', function( data, e ){
							var winFound = Physics.util.find( data.collisions, winQuery );

							if ( winFound ){
								var uid;
								if (winFound.bodyA.label == "ball"){
									uid = winFound.bodyA.uid;

								}
								if (winFound.bodyB.label == "ball"){
									uid = winFound.bodyA.uid;
								}
								var ballToDestroy = _.find(balls, function(ball){
									return ball.uid == uid;
								});
								ballToDestroy.state.destroyed = true;
								ballToDestroy.state.pos.x = -100;
								ballToDestroy.state.pos.y = -100;
								showTicket(ballToDestroy.ticket);
							}
						});

					});


				}

				function showTicket(ticketNumber){

					var ticket = _.find(app.tickets, function(ticket){
						return ticket.number == ticketNumber;
					});
					ticket.counter = app.counter;

                    ticket.goal = getGoal(app.counter);
					app.counter++;
					$("#ticketNumber").text(" " + ticket.number);
					$("#ownerNick").text(" " + ticket.who );
                    console.log(ticket);
					$("#log").prepend(logResultRowTemplate(ticket));
				}
			});
		</script>
	</body>
</html>